# تجاهل مجلد uploads بجميع أشكاله
static/uploads/
static/uploads/*
static/uploads/**/*
uploads/
**/static/uploads/

# تجاهل ملفات قاعدة البيانات
*.db
*.sqlite
*.sqlite3

# تجاهل ملفات Python
__pycache__/
*.pyc
*.pyo
*.pyd

# تجاهل ملفات البيئة
.env
*.env